<aside class="sidebar" [class.sidebar-open]="open">
  <ul class="sidebar-list">
    <div style="padding: 30px;"></div>

    <li><a><button class="sidebar-btn" (click)="goToAbout()">About</button></a></li>
    <li><a> <button class="sidebar-btn" (click)="goToAbout()">Restaurant Finder</button></a></li>
    <li><a> <button class="sidebar-btn" (click)="goToAbout()">Grocery Planner</button></a></li>
    <li><a> <button class="sidebar-btn" (click)="goToAbout()">DNA Fitness</button></a></li>
    <li><a> <button class="sidebar-btn" (click)="goToAbout()">History</button></a></li>
    <li><a> <button class="sidebar-btn" (click)="goToAbout()">Settings</button></a></li>
  </ul>
</aside>
