<div class="widgets-cards">
  <div class="widget-card">
    <b>Your Goals:</b> 
    <div style="padding: 5px;"></div> Lean Bulk (2200 kcal/day)
    <button class="widget-btn">Edit</button>
  </div>
  <div class="widget-card">
    <b>AI Tip:</b>  <div style="padding: 5px;"></div> Prep 3 meals at once to save time!
    <button class="widget-btn">New Tip</button>
  </div>
  <div class="widget-card">
    <b>Location Suggestions:</b>  <div style="padding: 5px;"></div> Harris Teeter, Whole Foods
    <button class="widget-btn">View on Map</button>
  </div>
  <div class="widget-card">
    <b>Next Up:</b>  <div style="padding: 5px;"></div> Hit Workout, High protein meal
    <button class="widget-btn">View Planner</button>
  </div>
</div>
